@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html {
  background-color: green;
} */

body {
  font-family: "Oswald", sans-serif;
}

.buttons {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.box {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  height: 500px;
  width: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  opacity: 0.9;
}

.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: black;
  color: #999;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #999;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: red;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: red;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: red;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: red;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.submit {
  bottom: 50px;
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
}

/* NAVBAR */

nav {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 100;
}

.firstDivInNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  background-color: green;
  height: 40px;
  transition: height 1s;
}

.firstDivInNavScrolled {
  height: 0;
  content-visibility: auto;
}

.dateTimeField {
  margin-left: 20px;
  font-size: 20px;
}

.secondDivInNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: red;
  height: 40px;
  border-radius: 0px 0px 15px 15px;
  transition: height 1s;
}

.secondDivInNavScrolled {
  width: 100%;
  background-color: red;
  height: 50px;
}

#navList {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 30px;
  list-style-type: none;
}

.cartSum {
  display: flex;
}

.cartSum p {
  padding-left: 5px;
  color: white;
}

li {
  padding-left: 5px;
  padding-top: 4px;
}

li:nth-child(1) {
  padding-left: 20px;
}

li a {
  font-size: 22.5px;
  font-style: italic;
  color: white;
  text-decoration: transparent;
}

.logoDiv {
  position: absolute;
  right: 35px;
  top: 8px;
  height: 60px;
}

.logoDiv h1 a .imageDiv {
  height: 60px;
  border-radius: 10px;
  transition: height 1s;
}

.logoDiv h1 a .imageDivScrolled {
  height: 80px;
  border-radius: 10px;
}

@media screen and (max-width: 555px) {
  .logoDiv {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .firstDivInNav h3 {
    display: none;
  }
}

/* NAVBAR BUTTON ANIMATIONS */

ul li a {
  box-shadow: inset 0 0 0 0 red;
  border-radius: 5px;
  color: white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

ul li a:hover {
  box-shadow: inset 100px 0 0 0 white;
  color: red;
}

/* HOME PAGE CSS */

#homeBackground {
  position: relative;
  z-index: -2;
}

#pizzaImg {
  width: 100%;
}
#homeBackground img {
  position: relative;
  z-index: -1;
  margin-top: 50px;
  width: 100%;
  min-width: 300px;
  height: auto;
}

#goToMenu {
  position: absolute;
  text-decoration: none;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 25px;
  font-style: italic;
  border-radius: 20px;
}

/* FOOTER CSS */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

#footerMainDiv {
  position: relative;
  z-index: 2;
  bottom: 0;
}

#firstDivInFooter {
  margin-top: -9px;
  width: 100%;
  background-color: red;
  height: 40px;
  border-radius: 15px 15px 0px 0px;
}

#secondDivInFooter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  background-color: green;
  height: 40px;
}

#logoDivFooter {
  position: absolute;
  left: 15px;
  bottom: 6px;

  height: 30px;
}

#logoDivFooter h1 a img {
  height: 30px;
  border-radius: 5px;
}

#allRightsReserved {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

/* etlap */

.menu {
  height: 100%;
  width: 100%;
  margin-top: -10px;
  position: relative;
  background-image: url("./Media/bacgroundmenu.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  z-index: 3;
}


/* CART CSS */

#cartMainDiv {
  background-color: #f3f0f0;
  border: 1px solid black;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cartContent {
  background-color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 700px;
  height: 350px;
  border: 4px solid black;
  border-radius: 40px;
}

#nameOfOrder {
  height: 280px;
  margin: 12px;
  overflow: auto;
}

.lineOfOrder {
  font-size: 19px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

#priceOfOrder {
  display: flex;
  gap: 5px;
  margin-right: 40px;
  justify-content: end;
  align-content: flex-end;
}

#customerDetails {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.customerDetailsLabels {
  font-size: 20px;
  text-decoration: underline;
  margin-right: -15px;
}

.nameTelAddress {
  background-color: white;
  border: 2px solid black;
  height: 40px;
  width: 160px;
  border-radius: 20px;
}

#commentDiv {
  margin-top: 20px;
  display: flex;
}

#commentFieldLabel {
  font-size: 20px;
  text-decoration: underline;
  margin-right: 5px;
}

#commentField {
  background-color: white;
  border: 2px solid black;
  height: 100px;
  width: 500px;
  border-radius: 20px;
}

#orderBtn {
  margin-top: 20px;
  font-size: 25px;
  background-color: #c10e0e;
  color: black;
  width: 300px;
  height: 50px;
  border: 2px solid black;
  border-radius: 25px;
  margin-bottom: 20px;
  cursor: pointer;
}

.removeCart{
  cursor: pointer;
  color: red;
}

/* ABOUT US CSS */

#aboutUsMain {
  background-color: #f3f0f0;
  background-image: url("./Media/restaurant_blur_about_us_photo.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aboutUsTitle {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

.aboutUsSections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.aboutUsPictures img {
  max-width: 500px;
  height: auto;
  border: 4px solid black;
  border-radius: 40px;
}

.aboutUsTexts {
  display: flex;
  align-items: center;
  background-color: white;
  max-width: 500px;
  height: auto;
  border: 4px solid black;
  border-radius: 40px;
}

.aboutUsTexts p {
  margin: 15px;
  font-size: 25px;
  text-align: center;
}

/* SLIDESHOW IN ABOUT US */
.slider {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.imageOfSlide {
  width: 700px;
  height: 400px;
  border: 4px solid black;
  border-radius: 40px;
}

.right-arrow {
  position: absolute;
  top: 10%;
  right: 132px;
  font-size: 2rem;
  background-color: #c10e0e;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  color: #000;
  z-index: 0;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 10%;
  left: 132px;
  font-size: 2rem;
  background-color: #c10e0e;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  color: #000;
  z-index: 0;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* CONTACT US */

.contactUsMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f0f0;
  gap: 20px;
}

.contactUsMainDiv div:nth-child(1) {
  margin-top: 100px;
}
.contactUsMainDiv div:nth-child(2) {
  margin-bottom: 20px;
}
.contactUsMainDiv div:nth-child(3) {
  margin-bottom: 70px;
}
.contactUsDetails {
  background-color: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 40px;
  padding: 20px;
}

/* CONTACT US MAP */

.mapouter {
  text-align: right;
}

.mapFrame {
  border-radius: 40px;
  border: 2px solid black;
  height: 420px;
  width: 640px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.gmap_canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ETLAP CSS */

.what {
  margin-top: 90px;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.foods {
  display: flex;
  height: 300px;
  justify-content: center;
}

.foodPic {
  height: 200px;
  margin: 50px;
  width: 250px;
  border-radius: 40%;
  cursor: pointer;
}

.foodPic:hover {
  height: 250px;
  width: 300px;
}

.gyrosok h2 {
  text-align: center;
}

.gyrosok {
  margin-top: 75px;
  position: relative;
  height: 620px;
}

.Gyros {
  /* border: 1px solid white; */
  width: 500px;
  height: 200px;
  border-radius: 10%;
  padding-top: 18px;
}

.addCart {
  cursor: pointer;
  color: green;
}

.gyrosContent {
  margin: 5px;
}

.pita {
  position: absolute;
  text-align: center;
  right: 100px;
  background: rgba(3, 3, 3, 0.5)
}

.pita select{
  width: 150px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
}

.tál {
  position: absolute;
  text-align: center;
  left: 100px;
  top: 400px;
  background: rgba(3, 3, 3, 0.5)
}

.tál select{
  width: 150px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
}

.pizzas {
  display: flex;
  flex-wrap: wrap;
}

.pizza {
  margin: 20px;
  border-radius: 10%;
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(3, 3, 3, 0.5)
}

.pizza p {
  padding: 5px;
}


.hamburger {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-basis: 30%;
  text-align: center;
}

.hambox{
  height: 180px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(3, 3, 3, 0.5);
  border-radius: 20%;
}

.menu h2 {
  margin: auto;
  width: 250px;
  text-align: center;
  font-size: 40px;
  background: rgba(3, 3, 3, 0.5);
}

.hamburgers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hamburger select {
  height: 25px;
  width: 180px;
  text-align: center;
  background-color: green;
  border-radius: 10px;
}

.hamburger h3 {
  width: 200px;
  height: 35px;
  background-image: url("./Media/hamburgerek-teteje-cut.gif");
  background-size: cover;
}

.hamburgerBuc {
  height: 35px;
  width: 165px;
  background-image: url("./Media/Rajztábla\ 1.png");
  background-size: cover;
}
