* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.buttons {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.box {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  height: 500px;
  width: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  opacity: 0.9;
}

.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: black;
  color: #999;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #999;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: red;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: red;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: red;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: red;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.submit {
  bottom: 50px;
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
}

/* NAVBAR */

nav {
  position: fixed;
  width: 100%;
  border: 1px solid black;
}

#firstDivInNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  background-color: green;
  height: 40px;
}
#secondDivInNav {
  width: 100%;
  background-color: red;
  height: 30px;
}

#navList {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 30px;
  list-style-type: none;
}

li {
  padding-left: 5px;
  padding-top: 4px;
}

li:nth-child(1) {
  padding-left: 20px;
}

li a {
  font-size: 20px;
  font-style: italic;
  color: white;
  text-decoration: transparent;
}

#logoDiv {
  position: absolute;
  right: 35px;
  top: 4px;
  border: 1px solid black;
  height: 60px;
}

#logoDiv h1 a img {
  height: 60px;
}

/* HOME PAGE CSS */

#homeBackground {
  position: relative;
  z-index: -2;
}

#pizzaImg {
  width: 100%;
}
#homeBackground img {
  margin-top: 50px;
  width: 100%;
  min-width: 300px;
  height: auto;
}

#homeBackground #goToMenu {
  position: absolute;
  text-decoration: none;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-style: italic;
  border-radius: 20px;
}

/* FOOTER CSS */

#footerMainDiv {
  position: relative;
  z-index: -3;
}

#firstDivInFooter {
  margin-top: -9px;
  width: 100%;
  background-color: red;
  height: 30px;
}

#secondDivInFooter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  background-color: green;
  height: 40px;
}

#logoDivFooter {
  position: absolute;
  left: 15px;
  bottom: 6px;
  border: 1px solid black;
  height: 30px;
}

#logoDivFooter h1 a img {
  height: 30px;
}

#allRightsReserved {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
